<div class='mx-auto' style='max-width: 960px;'>
  <div class='card mb-5 mt-4'>
    <div class='row gx-4'>
      <div class='col-md-4'>
        {{#if checkedUser.image}}
        <img
          src="{{checkedUser.image}}"
          class="img-fluid rounded-start"
          style="width:100%; height:100%"
          onload="this.style.opacity=1;"
          alt="Profile_image"
        />
        {{else}}
        <img src="https://via.placeholder.com/300" width="300px" height="300px"
          style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;" />
        {{/if}}
      </div>

      <div class='col-md-8'>
        <div class='card-body'>
          <h2 class='card-title'>{{checkedUser.name}}</h2>
          <p class='card-text mt-4'>{{checkedUser.email}}</p>
          <ul class="list-unstyled list-inline">
            <li><strong>{{checkedUser.commentedRestaurants.length}}</strong> 已評論餐廳</li>
            <li><strong>{{checkedUser.FavoritedRestaurants.length}}</strong> 收藏的餐廳</li>
            <li><strong>{{checkedUser.Followings.length}}</strong> followings (追蹤者)</li>
            <li><strong>{{checkedUser.Followers.length}}</strong> followers (追隨者)</li>
          </ul>
          {{#if checkedUser.owner}}
          <a
            class='btn btn-primary mt-4'
            href='/users/{{checkedUser.id}}/edit'
          >edit</a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        followings (追蹤者):<strong>{{checkedUser.Followings.length}}</strong> 
      </div>
      <div class="card-body">
        {{#each checkedUser.Followings}}
          <a href="/users/{{this.id}}" class="text-decoration-none">
            {{#if this.image}}
              <img src="{{this.image}}" width="60" height="60" class="center-block img-responsive m-1"
                style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;" />
            {{else}}
              <img src="https://via.placeholder.com/60" width="60" height="60" class="avatar"
                style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;" />
            {{/if}}
          </a>
        {{/each}}
      </div>
    </div>
    <br />
    <div class="card">
      <div class="card-header">
        followers (追隨者): <strong>{{checkedUser.Followers.length}}</strong> 
      </div>
      <div class="card-body">
        {{#each checkedUser.Followers}}
          <a href="/users/{{this.id}}" class="text-decoration-none">
            {{#if this.image}}
              <img src="{{this.image}}" width="60" height="60" class="center-block img-responsive m-1"
                style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;" />
            {{else}}
              <img src="https://via.placeholder.com/60" width="60" height="60" class="center-block img-responsive m-1"
                style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;" />
            {{/if}}
          </a>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        已評論餐廳: <strong>{{checkedUser.commentedRestaurants.length}}</strong>
      </div>
      <div class="card-body">
        {{#each checkedUser.commentedRestaurants}}
          <a href="/restaurants/{{this.id}}" class="text-decoration-none">
            <img src={{this.image}} width="60" height="60" class="center-block img-responsive m-1" style="transition: opacity 0.5s; opacity:0;"
              onload="this.style.opacity=1;" />
          </a>
        {{/each}}
      </div>
    </div>
    <br />
    <div class="card">
      <div class="card-header">
        收藏的餐廳: <strong>{{checkedUser.FavoritedRestaurants.length}}</strong> 
      </div>
      <div class="card-body">
        {{#each checkedUser.FavoritedRestaurants}}
          <a href="/restaurants/{{this.id}}" class="text-decoration-none">
            <img src="{{this.image}}" width="60" height="60" class="center-block img-responsive m-1" style="transition: opacity 0.5s; opacity:0;"
              onload="this.style.opacity=1;" />
          </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>